@font-face {
  font-family: 'Jersey 15';
  src: url('assets/Jersey15-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Jersey 15", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;
  color: white;
}

.App {
  height: 100dvh;
  padding: 2.5vmin;
  display: flex;
  gap: 2.5vmin;
}

fieldset {
  height: 100%;
}

legend {
  font-size: 5.5vmin;
  margin-left: 2.5vmin;
  padding-inline: 2.5vmin;
}

/* Manager */

#manager {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#manager p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5vmin;
  margin: 1vmin 4vmin;
}

fieldset #current-date {
  font-size: 5vmin;
  justify-content: center;
}

/* Calendar */

.react-calendar .highlighted-date {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

fieldset .react-calendar {
  width: 95%;
  margin-inline: 2.5%;
  background: black;
  text-decoration: none;
  font-size: 4.5vmin;
  border: 1px solid white;
}

fieldset .react-calendar__tile:hover {
  background-color: white;
  color: black;
}

fieldset .react-calendar__navigation {
  margin-bottom: 0;
}

fieldset .react-calendar__navigation *:hover {
  background-color: white;
  color: black;
}

fieldset .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

fieldset .react-calendar__tile--now {
  color: black;
  background-color: aqua;
}

/* Tasks */

#tasks {
  padding-inline: 1rem;
  width: 100%;
  overflow: scroll;
  flex-grow: 1;
  transition: width 0.5s ease-in-out;
}

#todos-header {
  display: flex;
  justify-content: space-between;
}

#task-input {
  display: flex;
  gap: 1rem;
}

#add-task {
  opacity: 1;
  transition: opacity 500ms linear;
}

ul {
  list-style: none;
  padding-top: 5vmin;
  display: flex;
  flex-direction: column-reverse;
  gap: 1vmin;
}

li {
  font-size: 5vmin;
  padding: 1.5vmin;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2.5px solid white;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.completed-task {
  background-color: black;
  border-style: dashed;
}

.text-container {
  grid-column: span 3;
}

.text-container span {
  font-weight: bold;
}

.text-container p {
  font-size: 4vmin;
  text-indent: 2.5vmin;
  margin-block: 1.5vmin;
}

.buttons-container {
  display: flex;
  gap: 2.5vmin;
}

.time,
.category {
  text-align: center;
  font-size: 3.5vmin;
}

li button {
  font-size: 4vmin;
  padding: 1vmin;
  border: 1.5px solid white;
  border-radius: 5px;
}

.completed:hover {
  background-color: green;
  color: white;
}

.remove:hover {
  background-color: red;
  color: white;
}

li button:focus {
  outline: 2.5px solid white;
}

/* List Form */

#list-form {
  padding: 1vmin;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#list-form.collapsed {
  display: none;
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

input,
textarea,
select {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 5vmin;
  padding: 0.5vmin;
  padding-left: 0.5rem;
}

input:focus,
textarea:focus {
  outline: 1px solid white;
}

button {
  border: 1.5px solid white;
  border-radius: 0px;
  background-color: black;
  color: white;
  padding-inline: 2.5vmin;
  font-size: 5vmin;
}

@media (max-width: 1024px) {
  #list-form {
    position: absolute;
    top: 0;
    /* left: 0; */
    background-color: rgba(0, 0, 0, 0.9);
    width: 95%;
  }
}