@font-face {
  font-family: 'Jersey 15';
  src: url('assets/Jersey15-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Jersey 15", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  background-color: black;
  color: white;
}

.App {
  height: 100dvh;
  padding: 2.5vmin;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5vmin;
}

fieldset {
  height: 100%;
}

legend {
  font-size: 4.5vmin;
  margin-left: 2.5vmin;
  padding-inline: 1rem;
}

#tasks {
  grid-column: span 3;
  padding: 1rem;
  width: 100%;
}

#task-input {
  display: flex;
  gap: 1rem;
}

#add-task {
  position: absolute;
  right: 5vmin;
  opacity: 1;
  transition: opacity 500ms linear;
}

input {
  position: relative;
  font-size: 5vmin;
  width: 0px;
  padding-left: 0.5rem;
  outline: none;
  transition: width 1s linear;
}

button {
  padding-inline: 2.5vmin;
  font-size: 5vmin;
}

ul {
  list-style: none;
  padding-top: 5vmin;
  display: flex;
  flex-direction: column-reverse;
  gap: 1vmin;
}

li {
  font-size: 5vmin;
  padding: 1.5vmin;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 2.5vmin;
}

li button {
  font-size: 4vmin;
  padding: 1vmin;
  border: none;
  border-radius: 5px;
}

.completed:hover {
  background-color: green;
  color: white;
}

.remove:hover {
  background-color: red;
  color: white;
}

li button:focus {
  outline: 2.5px solid black;
}